.backGroundPurple {
    background-color: purple;
  }
  
.backGroundBlue {
    background-color: blue;
  }

  .backGroundBlack {
    background-color: black;
  }

  .fontYellow {
    color: yellow;
  }

  .fontPink {
    color: pink;
  }

  .fontWhite{
    color: white;
  }